<% include ../partials/header %>

<h1>EDIT ANNOUNCEMENT</h1>

<form action="/schools/<%= school_id %>/cluborgs/<%=club_id %>/announcements/<%=announcement._id %>?_method=PUT" method="POST">
    <input type="text" name="announcement[text]" value="<%= announcement.text %>">
    <input type="text" name="announcement[title]" value="<%= announcement.title %>">
    <input type="submit">
</form>

<% include ../partials/footer %>