<% include ./partials/header %>

<div id="welcome-container">
    <h1 class="header" id="welcome">Welcome, <%= user.firstName %></h1>
</div>

<div class="color-strip"></div>

<<<<<<< HEAD
<!-- <ul class="nav nav-tabs nav-justified">
    <li role="presentation" class="active tab" id="tab2"><a id="contentTab" href="#" data-target="myContent">Your Clubs and Announcements</a></li>
    <li role="presentation" class="tab" id="tab1"><a id="profileTab" href="#" data-target="profile">Profile</a></li>
</ul> -->

<div class="btn-group" role="group">
    <button type="button" class="btn btn-default tab clicked" id="contentTab">Home</button>
    <button type="button" class="btn btn-default tab" id="profileTab">Profile</button>
</div>

<br>

<div class="content-container">
    <div class="row text-center my-clubs">
        <% cluborgs.forEach(function(cluborg) { %>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="thumbnail">
                    <a href="#" class="btn more-info">More Info</a>
                    <img class="cluborg-image" src="<%= cluborg.image %>">
                    <div class="caption">
                        <h3><%= cluborg.name %></h3>
                    </div>
                    <p>
                    </p>
                </div>
            </div>
        <% }); %>
    </div>
</div>

<div class="profile-container no-display">
    <h1>Profile Content</h1>
=======
<h2 class="header">Your Clubs</h2>


<br>

<div class="row text-center my-clubs">
    <% user.cluborgs.forEach(function(cluborg) { %>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="thumbnail">
                <a href="#" class="btn btn-primary more-info">More Info</a>
                <img src="<%= cluborg.image %>">
                <div class="caption">
                    <h3><%= cluborg.name %></h3>
                </div>
                <p>
                </p>
            </div>
        </div>
    <% }); %>
>>>>>>> 3c25aa06352e79df03106ce3109c4a82004ed4c2
</div>



<<<<<<< HEAD
<script type="text/javascript" src="/js/home.js"></script>
=======
>>>>>>> 3c25aa06352e79df03106ce3109c4a82004ed4c2

<% include ./partials/footer %>