<% include ./partials/header %>

<!-- <div id="welcome-container">
    <h1 class="header" id="welcome">Welcome, <%= user.firstName %></h1>
</div>

<div class="color-strip"></div> -->

<!-- <div class="btn-group" role="group">
    <button type="button" class="btn btn-default tab clicked" id="contentTab">Home</button>
    <button type="button" class="btn btn-default tab" id="profileTab">Profile</button>
</div> -->

<br>

<div class="content-container">
    <!-- <% if (cluborgs.length !== 0) { %>
            <% cluborgs.forEach(function(cluborg) { %>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="thumbnail">
                        <a href="/schools/<%= cluborg.school %>/cluborgs/<%= cluborg._id %>" class="btn more-info">More Info</a>
                        <img class="cluborg-image" src="<%= cluborg.image %>">
                        <div class="caption">
                            <h3><%= cluborg.name %></h3>
                        </div>
                        <p>
                        </p>
                    </div>
                </div>
            <% }); %>
    <% } else { %>
            <h2>You're not in any clubs!</h2>
    <% } %> -->

    <h5 class="asking-for-code">Have a code? <a href="/">Yes</a> / <a href="/">No, I am a Student</a></h5> <!-- API needed here... "Thanks for the confirmation" if No is selected -->

    <% if (user.school == undefined) { %>
            <h2>Are you in any of these schools?</h2>
            <ul>
                <% schools.forEach(function(school) { %>
                    <form action="/schools/<%= school._id %>/join?_method=PUT" method="POST">
                        <li><h3><%= school.name %></h3><input type="submit" value="Join"></li>
                    </form>
                <% }); %>
            </ul>
    <% } else { %>
        <% if (cluborgs.length === 0) { %>
            <a href="/schools/<%= user.school._id %>/cluborgs"><h3>Discover Clubs</h3></a>
        <% } else { %>
            <div class="my-announcement-container">
                <h3>My Announcements</h3>
                <hr>
                <% if (announcements.length !== 0) { %>
                    <% announcements.forEach(function(announcement) { %>

                        <div class="announcement-home">
                            <a class="cluborg-link-home" href="/schools/<%= user.school._id %>/cluborgs/<%= announcement.cluborg.id %>"><%= announcement.cluborg.name %></a>
                            <!-- <i class="favorite-announcement far fa-star"></i> --> <!-- add this in after test phase -->
                            <h4><strong><%= announcement.title %></strong></h4>
                            <p><%= announcement.text %></p>
                        </div>
                        <hr>
                    <% }); %>
                <% } else { %>
                    <p id="none-for-now">None at this time</p>
                <% } %>
            </div>
        <% } %>
    <% } %>
</div>

<!--

<div class="profile-container no-display">
    <h1>Profile Content</h1>
</div> -->





<script type="text/javascript" src="/js/home.js"></script>

<% include ./partials/footer %>