<% include ./partials/header %>

<div id="welcome-container">
    <h1 class="header" id="welcome">Welcome, <%= user.firstName %></h1>
</div>

<div class="color-strip"></div>

<!-- <div class="btn-group" role="group">
    <button type="button" class="btn btn-default tab clicked" id="contentTab">Home</button>
    <button type="button" class="btn btn-default tab" id="profileTab">Profile</button>
</div> -->

<br>

<div class="content-container">
    <div>
        <h3>Announcements</h3>
        <% announcements.forEach(function(announcement) { %>
            <h4><strong><%= announcement.title %></strong></h4>
            <p><%= announcement.text %></p>
            <p><%= announcement.cluborg.name %></p>
        <% }); %>
    </div>

    <hr>

    <div class="row text-center my-clubs">
        <% if (cluborgs.length !== 0) { %>
                <% cluborgs.forEach(function(cluborg) { %>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                        <div class="thumbnail">
                            <a href="/schools/<%= cluborg.school %>/cluborgs/<%= cluborg._id %>" class="btn more-info">More Info</a>
                            <img class="cluborg-image" src="<%= cluborg.image %>">
                            <div class="caption">
                                <h3><%= cluborg.name %></h3>
                            </div>
                            <p>
                            </p>
                        </div>
                    </div>
                <% }); %>
        <% } else { %>
                <h2>You're not in any clubs!</h2>
        <% } %>

        <% if (user.school == undefined) { %>
                <h2>Are you in any of these schools?</h2>
                <ul>
                    <% schools.forEach(function(school) { %>
                        <form action="/schools/<%= school._id %>/join?_method=PUT" method="POST">
                            <li><h3><%= school.name %></h3><input type="submit" value="Join"></li>
                        </form>
                    <% }); %>
                </ul>
        <% } %>
    </div>
</div>

<div class="profile-container no-display">
    <h1>Profile Content</h1>
</div>





<script type="text/javascript" src="/js/home.js"></script>

<% include ./partials/footer %>