<% include ./partials/header %>

<!-- <div id="welcome-container">
    <h1 class="header" id="welcome">Welcome, <%= user.firstName %></h1>
</div>

<div class="color-strip"></div> -->

<!-- <div class="btn-group" role="group">
    <button type="button" class="btn btn-default tab clicked" id="contentTab">Home</button>
    <button type="button" class="btn btn-default tab" id="profileTab">Profile</button>
</div> -->

<br>

<div class="content-container" id="dashboard-container">
    <!-- <% if (cluborgs.length !== 0) { %>
            <% cluborgs.forEach(function(cluborg) { %>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="thumbnail">
                        <a href="/schools/<%= cluborg.school %>/cluborgs/<%= cluborg._id %>" class="btn more-info">More Info</a>
                        <img class="cluborg-image" src="<%= cluborg.image %>">
                        <div class="caption">
                            <h3><%= cluborg.name %></h3>
                        </div>
                        <p>
                        </p>
                    </div>
                </div>
            <% }); %>
    <% } else { %>
            <h2>You're not in any clubs!</h2>
    <% } %> -->

    <% if ((user.isStudent === false) && (user.isFaculty === false) && (user.isAdmin === false)) { %>
        <h5 class="asking-for-code">Have a code? <a id="yes-for-code" href="#">Yes</a> / <a id="no-for-code" href="#">No, I am a Student</a></h5>
    <% } %>

    <div class="submit-code no-display">
        <label for="code-box">Enter the code here: </label>
        <input type="text" id="code-box">
        <div class="submit-code-links"><a href="#" class="submit-code-link"> Submit</a> / <a href="#" class="back-link">Back</a></div>
    </div>

    <div class="loader no-display"></div>

    <h5 class="code-feedback yes-code no-display">Thank you for your feedback.</h5>
    <h5 class="code-feedback no-code no-display">Student account verified.</h5>

    <% if (user.school == undefined) { %>
            <h2>Are you in any of these schools?</h2>
            <ul>
                <% schools.forEach(function(school) { %>
                    <form action="/schools/<%= school._id %>/join?_method=PUT" method="POST">
                        <li><h3><%= school.name %></h3><input type="submit" value="Join"></li>
                    </form>
                <% }); %>
            </ul>
    <% } else { %>
        <% if (cluborgs.length === 0 && currentUser.isStudent) { %>
            <a href="/schools/<%= user.school._id %>/cluborgs"><h3>Discover Clubs</h3></a>
        <% } else { %>
            <% if (currentUser.isStudent) { %>
                <div class="my-announcement-container">
                    <h3>My Announcements</h3>
                    <hr>
                    <% if (announcements.length !== 0) { %>
                        <% announcements.forEach(function(announcement) { %>

                            <div class="announcement-home">
                                <a class="cluborg-link-home" href="/schools/<%= user.school._id %>/cluborgs/<%= announcement.cluborg.id %>"><%= announcement.cluborg.name %></a>
                                <!-- <i class="favorite-announcement far fa-star"></i> --> <!-- add this in after test phase -->
                                <h4><strong><%= announcement.title %></strong></h4>
                                <p><%= announcement.text %></p>
                            </div>
                            <hr>
                        <% }); %>
                    <% } else { %>
                        <p id="none-for-now">None at this time</p>
                    <% } %>
                </div>
            <% } %>
        <% } %>
    <% } %>

    <% if (currentUser.isAdmin) { %>
        <h1 class="dashboard-header">Administrator Dashboard</h1>
        <ul class="nav nav-tabs nav-justified dashboard-tabs">
            <li role="presentation" class="active" data-tab="presentations"><a href="#">Favorite Presentations</a></li>
            <li role="presentation" data-tab="announcements"><a href="#">Announcements</a></li>
            <li role="presentation" data-tab="clubs"><a href="#">Clubs</a></li>
        </ul>

        <div class="tab-content" data-tab="presentations">
            <!-- <a href="/schools/<%= currentUser.school %>/presentations" role="button" class="material-button" id="see-more">See All Presentations <i class="fas fa-arrow-circle-right"></i></a> -->

            <div class="row">
                <% presentations.forEach(function(presentation) { %>
                    <% if (presentation.favorite) { %>
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <div class="thumbnail">
                                <img class="cluborg-image" src="<%= presentation.image %>">
                                <div class="caption">
                                    <div class="caption-top">
                                        <h3><%= presentation.name %></h3>
                                        <% if (presentation.favorite) { %>
                                            <i class="favorite favorited fas fa-star" data-pres-id="<%= presentation._id %>"></i>
                                        <% } else { %>
                                            <i class="favorite far fa-star" data-pres-id="<%= presentation._id %>"></i>
                                        <% } %>
                                    </div>

                                    <p class="pres-description"><%= presentation.description %></p>

                                    <!-- <a href="/schools/<%= currentUser.school %>/presentations/<%= presentation._id %>" class="more-info">More Info</a> -->
                                    <div class="thumbnail-button-group">
                                        <a href="/schools/<%= currentUser.school %>/presentations/<%= presentation._id %>/play" title="Play Presentation" class="btn btn-default" role="button"><i class="fas fa-play"></i></a> <!-- <a href="/schools/<%= currentUser.school %>/presentations/<%= presentation._id %>" class="btn btn-default" role="button"><i class="fas fa-info-circle"></i></a> --> <a href="/schools/<%= currentUser.school %>/presentations/<%= presentation._id %>/edit" class="btn btn-default" role="button" title="Edit Presentation"><i class="fas fa-edit"></i></a> <form class="delete-icon" action="/schools/<%= currentUser.school %>/presentations/<%= presentation._id %>?_method=DELETE" method="POST"> <button type="submit" class="btn btn-default" role="button" title="Delete Presentation"><i class="fas fa-trash-alt"></i></button></form>
                                    </div>

                                    <% if (!presentation.linkAllClubs) { %>
                                        <% presentation.cluborgs.forEach(function(cluborg) { %>
                                            <p class="pres-cluborg-info"><a href="/schools/<%= currentUser.school %>/cluborgs/<%= cluborg._id %>"><%= cluborg.name %></a></p>
                                        <% }); %>
                                    <% } else { %>
                                        <p class="pres-cluborg-info" id="all-cluborgs-message"><a href="/schools/<%= currentUser.school %>/cluborgs">All Clubs and Activities</a></p>
                                    <% } %>

                                </div>
                                <p>
                                </p>
                            </div>
                        </div>
                    <% } %>
                <% }); %>
                <!-- <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <a href="/schools/<%= currentUser.school %>/presentations" role="button" class="btn btn-default btn-lg see-more" id="see-more">See All Presentations <i class="fas fa-arrow-circle-right"></i></a>
                </div> -->
            </div>


        </div>

        <div class="tab-content no-display" data-tab="announcements">
            <div class="color-key">
                <div class="color-group" id="color-group-blue" title="No Approval Needed">Ready</div>
                <div class="color-group" id="color-group-green" title="Currently Showing in Presentation">Active</div>
                <div class="color-group" id="color-group-red" title="Requires Approval">Alert</div>
            </div>

            <div class="announcement-container">
                <% announcements.forEach(function(announcement) { %>
                <div class="announcement">
                    <% if (announcement.state === "Normal") { %>
                        <div class="color-indicator color-state-normal">
                            <div>
                                <button><i class="fas fa-question-circle"></i></button>
                                <button><i class="fas fa-clock"></i></button>
                            </div>
                        </div>
                    <% } else if (announcement.state === "Active") { %>
                        <div class="color-indicator color-state-active">
                            <div>
                                <button><i class="fas fa-question-circle"></i></button>
                                <button><i class="fas fa-clock"></i></button>
                            </div>
                        </div>
                    <% } else if (announcement.state === "Alert") { %>
                        <div class="color-indicator color-state-alert">
                            <div>
                                <button><i class="fas fa-question-circle"></i></button>
                                <button><i class="fas fa-clock"></i></button>
                            </div>
                        </div>
                    <% } %>
                    <div class="announcement-right-column">
                        <div class="announcement-content">
                            <h3><%= announcement.title %> <p class="pres-cluborg-info inline-pill orange-pill"><a href="/schools/<%= currentUser.school %>/cluborgs/<%= announcement.cluborg.id %>"><%= announcement.cluborg.name %></a></p></h3>
                            <h4><%= announcement.text %></h4>
                            <div class="thumbnail-button-group action-bar">
                                <a href="/schools/<%= currentUser.school %>/cluborgs/<%= announcement.cluborg.id %>/announcements/<%= announcement._id %>" title="Info" class="btn btn-default" role="button"><i class="fas fa-info-circle"></i></a> <a href="/schools/<%= currentUser.school %>/cluborgs/<%= announcement.cluborg.id %>/announcements/<%= announcement._id %>/edit" class="btn btn-default" role="button" title="Edit Announcement"><i class="fas fa-edit"></i></a> <form class="delete-icon" action="/schools/<%= currentUser.school %>/cluborgs/<%= announcement.cluborg.id %>/announcements/<%= announcement._id %>?_method=DELETE" method="POST"> <button type="submit" class="btn btn-default" role="button" title="Delete Announcement"><i class="fas fa-trash-alt"></i></button></form>
                            </div>
                        </div>
                    </div>
                </div>
                <% }); %>
            </div>
        </div>

        <div class="tab-content no-display" data-tab="clubs">
            <% if (cluborgs.length !== 0) { %>
                <div class="row">
                    <% cluborgs.forEach(function(cluborg) { %>
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <div class="thumbnail">
                                <img class="cluborg-image" src="<%= cluborg.image %>">
                                <div class="caption">
                                    <div class="caption-top">
                                        <h3><%= cluborg.name %></h3>
                                    </div>

                                    <p class="pres-description"><%= cluborg.description %></p>

                                    <div class="thumbnail-button-group">
                                        <a href="/schools/<%= currentUser.school %>/cluborgs/<%= cluborg._id %>/edit" class="btn btn-default" role="button" title="Edit Club"><i class="fas fa-edit"></i></a> <form class="delete-icon" action="/schools/<%= currentUser.school %>/cluborgs/<%= cluborg._id %>?_method=DELETE" method="POST"> <button type="submit" class="btn btn-default" role="button" title="Delete Presentation"><i class="fas fa-trash-alt"></i></button></form>
                                    </div>

                                    <% presentations.some(function(presentation) { %>
                                        <% if (presentation.cluborgs.find(function(club) {return club.name == cluborg.name}) != null) { %>
                                            <% if (presentation.linkAllClubs) { %>
                                                <p class="pres-cluborg-info" id="all-cluborgs-message"><a href="/schools/<%= currentUser.school %>/presentations/<%= presentation._id %>/play">Master Presentation</a></p>
                                                <% return; %>
                                            <% } else { %>
                                                <p class="pres-cluborg-info"><a href="/schools/<%= currentUser.school %>/presentations/<%= presentation._id %>/play"><%= presentation.name %></a></p>
                                                <% return; %>
                                            <% } %>
                                        <% } else if (presentation.linkAllClubs) { %>
                                            <p class="pres-cluborg-info" id="no-cluborgs-message"><a href="/schools/<%= currentUser.school %>/presentations/<%= presentation._id %>/play">No Presentation Linked</a></p>
                                            <% return; %>
                                        <% } %>
                                    <% }); %>

                                </div>
                            </div>
                        </div>
                    <% }); %>
                </div>
            <% } else { %>
                    <h2>There aren't clubs online, why don't you change that?</h2>
            <% } %>
        </div>
    <% } %>
</div>

<!-- <a class="ah" href="#">Get all announcements</a> -->

<!--

<div class="profile-container no-display">
    <h1>Profile Content</h1>
</div> -->





<script type="text/javascript" src="/js/home.js"></script>

<% include ./partials/footer %>