<% include ../partials/header %>

<h1>EDIT CLUBORG</h1>

<form action="/schools/<%= school_id %>/cluborgs/<%=cluborg.id %>?_method=PUT" method="POST">
    <input type="text" name="cluborg[name]" value="<%= cluborg.name %>">
    <input type="text" name="cluborg[description]" value="<%= cluborg.description %>">
    <input type="text" name="cluborg[image]" value="<%= cluborg.image %>">
    <input type="submit">
</form>

<% include ../partials/footer %>