<% include ../partials/header %>

<h1 class="page-header-main">Discover Clubs</h1>

<% if (currentUser.isAdmin || currentUser.isFaculty) { %>
    <a class="material-button" id="new-button" role="button" href="/schools/<%= currentUser.school %>/cluborgs/new"><i class="fas fa-plus"></i> New Club</a>
<% } %>

<!-- <% if (showAccountTypeMessage == true) { %>
    <h1>ACCOUNT TYPE MESSAGE</h1>
<% } %> -->

<hr>
<!-- <% cluborgs.forEach(function(cluborg) { %>
    <p><%= cluborg.name %></p>
    <img src="<%= cluborg.image %>">

    <br>
    <a href="/schools/<%= school_id %>/cluborgs/<%= cluborg._id %>">More Info</a>

    <form action="/schools/<%= school_id %>/cluborgs/<%= cluborg._id %>/join?_method=PUT" method="POST">
        <input type="submit" value="Join">
    </form>
    <hr>

<% }); %> -->

<% if (cluborgs.length !== 0) { %>
        <div class="row">
            <% cluborgs.forEach(function(cluborg) { %>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="thumbnail">
                        <img class="cluborg-image" src="<%= cluborg.image %>">
                        <div class="caption">
                            <div class="caption-top">
                                <h3><%= cluborg.name %></h3>
                            </div>

                            <p class="pres-description"><%= cluborg.description %></p>

                            <div class="thumbnail-button-group">
                                <a href="/schools/<%= currentUser.school %>/cluborgs/<%= cluborg._id %>/edit" class="btn btn-default" role="button" title="Edit Club"><i class="fas fa-edit"></i></a> <form class="delete-icon" action="/schools/<%= currentUser.school %>/cluborgs/<%= cluborg._id %>?_method=DELETE" method="POST"> <button type="submit" class="btn btn-default" role="button" title="Delete Presentation"><i class="fas fa-trash-alt"></i></button></form>
                            </div>

                        </div>
                    </div>
                </div>
            <% }); %>
        </div>
<% } else { %>
        <h2>You're not in any clubs!</h2>
<% } %>

<% include ../partials/footer %>