<% include ../partials/header %>

<h1 class="page-header-main">Discover Clubs</h1>

<a href="/schools/<%= school_id %>/cluborgs/new"><i class="fas fa-plus new-club-button"></i></a>

<br>

<!-- <% if (showAccountTypeMessage == true) { %>
    <h1>ACCOUNT TYPE MESSAGE</h1>
<% } %> -->

<hr>
<!-- <% cluborgs.forEach(function(cluborg) { %>
    <p><%= cluborg.name %></p>
    <img src="<%= cluborg.image %>">

    <br>
    <a href="/schools/<%= school_id %>/cluborgs/<%= cluborg._id %>">More Info</a>

    <form action="/schools/<%= school_id %>/cluborgs/<%= cluborg._id %>/join?_method=PUT" method="POST">
        <input type="submit" value="Join">
    </form>
    <hr>

<% }); %> -->

<% if (cluborgs.length !== 0) { %>
        <% cluborgs.forEach(function(cluborg) { %>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="thumbnail">
                    <img class="cluborg-image" src="<%= cluborg.image %>">
                    <div class="caption">
                        <h3><%= cluborg.name %></h3>
                        <a href="/schools/<%= cluborg.school %>/cluborgs/<%= cluborg._id %>" class="">More Info</a>
                    </div>
                    <p>
                    </p>
                </div>
            </div>
        <% }); %>
<% } else { %>
        <h2>You're not in any clubs!</h2>
<% } %>

<% include ../partials/footer %>